<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Keep It Simple
      </h1>
      <h2 class="subtitle">
        CsGoChallenge
      </h2>
    </div>
  </div>
</section>  
<div style="text-align:center">
    <nav>
      <a routerLink="/player" routerLinkActive="active">Player Ranking</a>
      <a routerLink="/match" routerLinkActive="active">Match List</a>
      <a routerLink="/weapon" routerLinkActive="active">Weapon Ranking</a>
    </nav>
    <div class="container is-fluid">
      <router-outlet></router-outlet>
    </div>
</div>