<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Match Number</th>
      <th>Start of the Match</th>
      <th>End of the Match</th>
      <th>Player Count</th>
      <th>MVP</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let match of matches">
      <td>{{match.match}}</td>
      <td>{{match.beginTime | date : "dd/MM/yyyy hh:mm.ss"}}</td>
      <td>{{match.endTime | date : "dd/MM/yyyy hh:mm.ss"}}</td>
      <td>{{match.playerCount}}</td>
      <td>{{match.mvp}}</td>
    </tr>
  </tbody>
</table>