<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Player Ranking</th>
      <th>Player Name</th>
      <th>Ammount of Deaths</th>
      <th>Ammount of Kills</th>
      <th>Final Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players; let ranking = index" [attr.data-index] = "ranking">
      <td>{{ranking + 1}}</td>
      <td>{{player.playerName}}</td>
      <td>{{player.deaths}}</td>
      <td>{{player.kills}}</td>
      <td>{{player.score}}</td>
    </tr>
  </tbody>
</table>