<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Ranking</th>
      <th>Weapon </th>        
      <th>Ammount of Kills</th>        
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let weapon of weapons; let ranking = index" [attr.data-index] = "ranking">
      <td>{{ranking + 1}}</td>
      <td>{{weapon.weapon}}</td>
      <td>{{weapon.kills}}</td>
    </tr>
  </tbody>
</table>
